<%= provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>

<%= provide(:title, 'New Opuss') %>


    <%= form_for(:opuss, url: opusses_path) do |f| %>
      <%#= f.label :title, {class: "control-label"} %>
        <%= f.text_field  :title, placeholder: 'Opuss Title' %>

      <%#= f.label :opuss, {class: "control-label"} %>
        <%= f.text_area :opuss, placeholder: 'My Opuss' %>

        <%= f.submit "Post Opuss!", class: "btn btn-large btn-primary" %>

    <% end %>
