<div class="profilecontainer">

<% @comments["data"].each do |comment| %>

    <div style="padding: 15px 15px; margin: 10px 10px ; border-bottom: 1px dashed #CCC;">
      <%= link_to(safe_image_tag(comment["avatar_url"], alt: "Avatar", class: "gravatar", size: "48x48"),author_path(:id => comment["username"]), :class => "pull-left" ) %>

      <div class="media-body">
        <i><p class="media-heading"><%= comment["username"] %></p></i>
        <p style="height:48px; font-size:0.9em;"><%= comment["comment"] %></p>
      </div>
    </div>

    <% end %>


    <%= form_for(:comment, url: opuss_comments_path) do |f| %>

    <div class="control-group opusscomment">
      <%#= f.label :opuss, {class: "control-label"} %>
      <div class="controls">
        <%= f.text_area :thecomment, placeholder: 'What did you think of this Opuss?' %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit "Comment!", class: "btn btn-large btn-primary" %>
      </div>
    </div>

    <% end %>
</div>