<%= provide(:title, @author["data"]["username"]) %>

 <p><%#= @author %></p> 
 <p><%#= @news %></p> 


<div class="container">
  
  <div class="row" style="height:100px; overflow: hidden;">
    <div><%= safe_image_tag(@author["data"]["avatar_url"], alt: "Avatar", class: "gravatar", size: "72x72") %></div>
    <div>
      <h5 style="margin:0px;"><%= @author["data"]["name"] %></h5>
      <p style="height:55px; overflow: auto; font-size:0.8em;"><%= @author["data"]["bio"] %></p>
    </div>
  </div>
  
  <div>
  <ul class="nav nav-pills">
    <li style="width:90px; text-align: center; font-size:0.9em;"><%= link_to content_tag(:span, @author["data"]["numberOfWorks"], :class => "badge badge-info") + "Opusses", authorfeed_opuss_path(:id =>@author["data"]["username"])  %></li>
    <li style="width:90px; text-align: center; font-size:0.9em;"><%= link_to content_tag(:span, @author["data"]["numberFollowing"], :class => "badge badge-info") + "Following", following_author_path(:id =>@author["data"]["username"])  %></li>
    <li style="width:90px; text-align: center; font-size:0.9em;"><%= link_to content_tag(:span, @author["data"]["numberOfFollowers"], :class => "badge badge-info") + "Followers", followed_author_path(:id =>@author["data"]["username"])  %></li>
    
    <% if @showedit.to_s == @author["data"]["author_id"].to_s %>
      <li style="width:100%; text-align: center; font-size:0.9em;"><%= link_to "Edit My Profile", edit_author_path(@author) %></li>
    <%end %>

  <!-- Need Logic Here to add a follow button.  The button should only be available on authors other the logged in
       user.  We need further logic to ensure that button that is rendered is appropriately named
       Follow or Unfollow based on whether there is an existing link.
   -->

  </ul>
  </div>


  <div>
    <ul class="nav nav-tabs" style="font-size: 0.9em;">
      <% if @showedit.to_s == @author["data"]["author_id"].to_s %>
      <li class="active"><a href="#tab1" data-toggle="tab">News</a></li>
      <li><a href="#tab2" data-toggle="tab">Liked</a></li>
      <% else %>
      <li class="active"><a href="#tab2" data-toggle="tab">Liked</a></li>
      <% end %>
    </ul>
  </div>

  <div class="tab-content">
        <% if @showedit.to_s == @author["data"]["author_id"].to_s %>
        <div class="tab-pane active" id="tab1">

        <% if @news["data"].to_s != "No results" %>
        <% @news["data"].each do |news| %>
          <div class="media">
            <%= link_to(safe_image_tag(news["sender_author"]["avatar_url"], alt: "Avatar", class: "gravatar", size: "48x48"),author_path(:id => news["sender_author"]["username"]), :class => "pull-left" ) %>

            <div class="media-body">
              <!--<h4 class="media-heading">Title</h4>-->
              <p style="height:48px; overflow: auto; font-size:0.9em;"><%= news["message"] %></p>
            </div>
          </div>
        <% end %>
        <% end %>
        <% end %>
        </div>

    <% if @showedit.to_s == @author["data"]["author_id"].to_s %>
    <div class="tab-pane" id="tab2">
    <%else%>
    <div class="tab-pane active" id="tab2">
      <%end%>

      <% @liked["data"].each do |like| %>
      <div class="media">
          <%= link_to(safe_image_tag(like["author"]["avatar_url"], alt: "Avatar", class: "gravatar", size: "48x48"),author_path(:id => like["author"]["username"]), :class => "pull-left" ) %>
        <div class="media-body">
          <!--<h4 class="media-heading">Title</h4>-->
          <p style="height:48px; overflow: auto; font-size:0.9em;"><%= link_to like["title"], opuss_path(:id => like["opuss_id"]) %></p>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>