<%= provide(:title, @author["data"]["username"]) %>

 <p><%#= @author %></p> 

<div class="container">
  <div class="row" style="height:100px; overflow: hidden;">
    <div><%= safe_image_tag(@author["data"]["avatar_url"], alt: "Avatar", class: "gravatar", size: "72x72") %></div>
    <div>
      <h5 style="margin:0px;"><%= @author["data"]["name"] %></h5>
      <p style="height:55px; overflow: auto; font-size:0.8em;"><%= @author["data"]["bio"] %></p>
    </div>
  </div>
  <ul class="nav nav-pills">
    <li style="width:75px; text-align: center; font-size:0.9em;"><a href="#"><%= @author["data"]["numberOfWorks"] %> Opusses</a></li>
    <li style="width:75px; text-align: center; font-size:0.9em;"><a href="#"><%= @author["data"]["numberFollowing"] %> Following</a></li>
    <li style="width:75px; text-align: center; font-size:0.9em;"><a href="#"><%= @author["data"]["numberOfFollowers"]%> Followers</a></li>
    <% if @showedit.to_s == @author["data"]["author_id"].to_s %>
      <li style="width:75px; text-align: center; font-size:0.9em;"><%= link_to "Edit Profile", edit_author_path(@author) %></li>
    <%end %>
</ul>
</div>




  <ul class="nav nav-tabs" style="font-size: 0.9em;">
    <li class="active"><a href="#tab1" data-toggle="tab">News</a></li>
    <li><a href="#tab2" data-toggle="tab">Liked</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>I'm in Section 1.</p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Section 2.</p>
    </div>

  </div>
