<%= provide(:title, "Your feed") %>

<% @opusses["data"].each do |opuss| %>

<div class="container">
  
  <div class="row">


    <% if opuss["isRepost"].to_s.downcase == 'true' %>
      <div style="position:absolute;z-index:0;"><%= link_to(safe_image_tag(opuss["author"]["avatar_url"], alt: "Avatar", class: "pull-left", size: "64x64"),author_path(:id => opuss["author"]["username"]), :class => "pull-left" ) %>
        <div style="position:absolute;z-index:1;bottom:-2px;right:-2px;"><%= link_to(safe_image_tag(opuss["reposter"]["avatar_url"], alt: "Avatar", class: "pull-left", size: "32x32"), author_path(:id => opuss["author"]["username"]), :class => "pull-left" ) %>
        </div>
    </div>

    <% else %>

      <div><%= link_to(safe_image_tag(opuss["author"]["avatar_url"], alt: "Avatar", class: "pull-left", size: "64x64"),author_path(:id => opuss["author"]["username"]), :class => "pull-left" ) %></div>

    <%end%>


    <% if opuss["author"]["username"].to_s.downcase == 'opuss' %>
    <% else %>
    <div><%= link_to(opuss_comments_path(opuss["opuss_id"]), :method => :get, class: "btn btn-large pull-right indexfeed") do %>
      <i class="icon-comment"></i>&nbsp;&nbsp;&nbsp; <%= opuss["numberOfComments"] %>
      <% end %>
    </div>

    <div><%= form_for(:like, :url => like_opuss_path(opuss["opuss_id"]), :html => { :method => 'post' } ) do |f| %> <%= f.hidden_field :like_id, :value => opuss["opuss_id"] %><%= button_tag(type: 'submit', class: "btn btn-large pull-right indexfeed") do %><i class="icon-heart"></i>&nbsp;&nbsp;&nbsp; <%= opuss["numberOfLikes"] %><% end %><% end %>
    </div>
    <% end %>
  </div>

  <div class="row indexfeedtext">
  <br >
  <div>
        <strong><%= link_to opuss["title"], opuss_path(:id => opuss["opuss_id"]) %></strong>
  </div>

  <div>
    <% if opuss["author"]["username"].to_s.downcase == 'opuss' %>
      <%= link_to truncate(opuss["opuss"], :length => 290), '#' %>
    <% else %>
      <%= link_to truncate(opuss["opuss"], :length => 150).gsub(/\n/, '<br>').html_safe, opuss_path(:id => opuss["opuss_id"]) %>
    <% end %>
  </div>

  <div style="margin-top:5px;">
    <i><%= distance_of_time_in_words(opuss["created"], Time.now.utc)%> ago</i>
    <% if opuss["isRepost"].to_s.downcase == 'true' %>
        <i class="icon-retweet pull-right"></i>
    <% end %>
  </div>


</div>

</div>

<hr>

<% end %>


