<%= provide(:title, 'New Opuss') %>
<div class="row">
  <div class="span5 offset3">
    <%= form_for(:opuss, url: opusses_path) do |f| %>
        <%= f.label :title %>
        <%= f.text_field  :title %>
        <%= f.label :opuss  %>
        <%= f.password_field :opuss %>
        <%= f.submit "Post Opuss!", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div> 