<div class="row">
  <aside class="span4">
    <section>
      <p>Author ID of the logged in user: <%= @showedit %> | Author of this post: <%= @opuss["data"]["author"]["author_id"] %></p>
      <% if @showedit == @opuss["data"]["author"]["author_id"] %>
        <ul class="nav nav-pills">
          <li><%= link_to "Edit My Opuss", edit_opuss_path(@opuss) %></li>
        </ul>
      <% else %>
      <% end %>


      <strong><%= @opuss["data"]["title"]%></strong>
      <i> By: <%= @opuss["data"]["author"]["name"]%></i>
      <hr>
      <p><%= @opuss["data"]["opuss"]%></p>
      <hr>
      <strong><i>Bio </i></strong>
      <p><%= @opuss["data"]["author"]["bio"]%></p>
    </section>
  </aside>
</div>
