<div class="row">
  <aside class="span4">
    <section>
      <!-- <p>Author ID of the logged in user: <%= @showedit %> | Author of this post: <%= @opuss["data"]["author"]["author_id"] %></p>-->
      <% if @showedit.to_s == @opuss["data"]["author"]["author_id"].to_s %>
        <ul class="nav nav-pills">
          <li><%= link_to "Edit", edit_opuss_path(@opuss) %></li>
          <li><%= link_to "Delete", opuss_path(@opuss), method: "delete", confirm: "You sure?" %></li>          
        </ul>
      <% end %>

      <div class="showdet">
        <strong><%= @opuss["data"]["title"]%></strong>
        <br>
        <div class="by">
          <i> By <%= @opuss["data"]["author"]["name"]%></i>
        </div>
      </div>
        <br>
        <ul id="indexfeed">
          <li><%= @opuss["data"]["opuss"].gsub(/\n/, "<br/>").html_safe %></li>
        </ul>
      </div>
    </section>
  </aside>
</div>
