
<%= provide(:title, "#{@opuss["data"]["title"]} by @#{@opuss["data"]["author"]["username"]}") %>


      <!-- <p>Author ID of the logged in user: <%= @showedit %> | Author of this post: <%= @opuss["data"]["author"]["author_id"] %></p>-->
      <% if @showedit.to_s == @opuss["data"]["author"]["author_id"].to_s %>
        <ul class="nav nav-pills">
          <li><%= link_to "Edit", edit_opuss_path(@opuss) %></li>
          <li><%= link_to "Delete", opuss_path(@opuss), method: "delete", confirm: "You sure?" %></li>          
        </ul>
      <% end %>

      <div class="showdet">

        <strong><%= @opuss["data"]["title"]%></strong>
        <br>
        <div class="by">
          <i> By <%= link_to @opuss["data"]["author"]["name"], author_path(:id=>@opuss["data"]["author"]["username"])%></i>
        </div>
      </div>
      <div class="showopuss">
        <hr />
          <%= @opuss["data"]["opuss"].gsub(/\n/, "<br/>").html_safe %>
      </div>

    <hr>

    <%= form_for(:comment, :url => opuss_comments_path(@opuss["data"]["opuss_id"]) ) do |f| %>

        <div class="control-group opusscomment">
          <%#= f.label :opuss, {class: "control-label"} %>
          <div class="controls">
            <%= f.text_area :thecomment, placeholder: 'What did you think of this Opuss?' %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">

          <%= f.submit "Comment!", class: "btn btn-large pull-left btn-primary " %>    <% end %>
    <%= form_for(:repost, :url => { :action => "repost" }, :html => { :method => 'post' } ) do |f| %> <%= f.hidden_field :opuss_id, :value => @opuss["data"]["opuss_id"] %><%= button_tag(type: 'submit', class: "btn btn-large pull-left") do %><i class="icon-retweet"></i><% end %><% end %>


    <%= form_for(:like, :url => like_opuss_path(@opuss["data"]["opuss_id"])) do |f| %> <%= f.hidden_field :like_id, :value => @opuss["data"]["opuss_id"] %><%= button_tag(type: 'submit', class: "btn btn-large pull-left") do %><i class="icon-heart"></i>&nbsp;&nbsp;&nbsp; <%= @opuss["data"]["numberOfLikes"] %><% end %><% end %>


          </div>

        </div>


    <div>

    </div>
    <br >

<%#= render 'comments/aa' %>

<!-- If there are no_results, don't show this section -->

<% if @comments["data"].to_s != "No results" %>

<div>
<br>
<hr>

<% @comments["data"].each do |comment| %>

    <div style="padding: 15px 15px; margin: 10px 10px ; border-bottom: 1px dashed #CCC;">
      <%= link_to(safe_image_tag(comment["avatar_url"], alt: "Avatar", class: "gravatar", size: "48x48"),author_path(:id => comment["username"]), :class => "pull-left" ) %>

      <div class="media-body">
        <i><%= comment["username"] %></i>
        <p style="height:48px; font-size:0.9em;"><%= comment["comment"] %></p>
        <p style="font-size:0.8em;" class="pull-right"><%= distance_of_time_in_words(comment["creation_date"], Time.now.utc)%> ago</p>
      </div>
    </div>

    <% end %>
</div>

<% end %>



