

      <!-- <p>Author ID of the logged in user: <%= @showedit %> | Author of this post: <%= @opuss["data"]["author"]["author_id"] %></p>-->
      <% if @showedit.to_s == @opuss["data"]["author"]["author_id"].to_s %>
        <ul class="nav nav-pills">
          <li><%= link_to "Edit", edit_opuss_path(@opuss) %></li>
          <li><%= link_to "Delete", opuss_path(@opuss), method: "delete", confirm: "You sure?" %></li>          
        </ul>
      <% end %>

      <div class="showdet">

        <strong><%= @opuss["data"]["title"]%></strong>
        <br>
        <div class="by">
          <i> By <%= link_to @opuss["data"]["author"]["name"], author_path(:id=>@opuss["data"]["author"]["username"])%></i>
        </div>
      </div>
      <div>
        <hr />
          <%= @opuss["data"]["opuss"].gsub(/\n/, "<br/>").html_safe %>
      </div>

 
 <!-- would be really nice to post to the comments/create action from here. I can 
      render the comments but failing to sucessfully post from here
      perhaps I need to create a deliberate member or match in routes.rb? 
  -->

<%#= render 'comments/aa' %>

<% if @comments["data"].to_s != "No results" %>

<div>

<hr>

<!-- If there are no_results, don't show this section -->

<% @comments["data"].each do |comment| %>

    <div class="media">
      <%= link_to(safe_image_tag(comment["avatar_url"], alt: "Avatar", class: "gravatar", size: "48x48"),author_path(:id => comment["username"]), :class => "pull-left" ) %>

      <div class="media-body">
        <!--<h4 class="media-heading">Title</h4>-->
        <p style="height:48px; font-size:0.9em;"><%= comment["comment"] %></p>
      </div>
    </div>

    <% end %>

    <%= form_for(:comment, :url => opuss_comments_path(@opuss["data"]["opuss_id"]) ) do |f| %>

    <div class="control-group opusscomment">
      <%#= f.label :opuss, {class: "control-label"} %>
      <div class="controls">
        <%= f.text_area :thecomment, placeholder: 'What are you thinking?' %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit "Comment!", class: "btn btn-large btn-primary" %>
      </div>
    </div>

    <% end %>


    </div>



</div>

<% end %>



