<div class="container">
  
  <div class="row">
      <!-- <p>Author ID of the logged in user: <%= @showedit %> | Author of this post: <%= @opuss["data"]["author"]["author_id"] %></p>-->
      <% if @showedit.to_s == @opuss["data"]["author"]["author_id"].to_s %>
        <ul class="nav nav-pills">
          <li><%= link_to "Edit", edit_opuss_path(@opuss) %></li>
          <li><%= link_to "Delete", opuss_path(@opuss), method: "delete", confirm: "You sure?" %></li>          
        </ul>
      <% end %>

      <div class="showdet">

        <strong><%= @opuss["data"]["title"]%></strong>
        <br>
        <div class="by">
          <i> By <%= link_to @opuss["data"]["author"]["name"], author_path(:id=>@opuss["data"]["author"]["username"])%></i>
        </div>
      </div>
      <div>
        <hr />
          <%= @opuss["data"]["opuss"].gsub(/\n/, "<br/>").html_safe %>
      </div>
  </div>
</div>

 
 <!-- would be really nice to show the comments feed inline on the show view -->

<%#= render 'comments/aa' %>