<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

       <a class="brand hidden-phone hidden-tablet" href="<%=root_path%>"><%= image_tag("opusslogo.png", :alt => "Opusslogo") %></a> 

        <ul class="nav">
          <li class="<%= 'active' if current_page?(opusses_path) %>"><%= link_to '<i class="icon-book"></i> Feed'.html_safe, opusses_path %></li>
          <li class="<%= 'active' if current_page?(top_path) %>"><a href="<%= top_path %>"><i class="icon-fire"></i> Top</a></li>
          <li class="<%= 'active' if current_page?(new_opuss_path) %>"><%= link_to '<i class="icon-edit"></i> New'.html_safe, new_opuss_path %></li> 
        </ul>
      <div class="nav-collapse">

        <ul class="nav pull-left">

          <li class="<%= 'active' if current_page?(all_path) %>"><%= link_to '<i class="icon-globe"></i> All Posts'.html_safe, all_path %></li> 
        </ul>

        <ul class="nav pull-right">
       

        <%= form_tag search_path, :class => 'navbar-search pull-left' do %>
          <%= search_field_tag :findopuss, params[:findopuss], :class=> "search-query span2", :placeholder => "Search / # Hashtag" %>
        <% end %>
     

<!--
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "About", about_path %></li>
-->
          
          <li class="divider-vertical"></li>
          <% if oosigned_in? %>
          <%# @sresponse = OpussApi.myusername %>
          <li><%#= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", author_path(:id => cookies[:username] ) %></li>
              <li><%#= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%#= link_to "Sign out", signout_path, method: "delete" %></li> 
              <li><%= link_to "Sign out", osignout_path, method: "delete" %></li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "Sign in", ologin_path %></li>
          <li><%#= link_to "Sign in", signin_path %></li>  
          <% end %>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3562849-28']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</header>